mynotes.txt

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfplan
terraform/terraform.tfvars
terraform/*.tfvars
terraform/.terraform/
terraform/*.backup
terraform/terraform.tfstate.d/prod/*.backup
terraform/terraform.tfstate.d/test/*.backup
terraform/tfstate-backup*
archive/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/

# IDE
.vscode/
.idea/
*.swp